# Imports

In [1]:
import sys
import pandas as pd
import joblib
sys.path.insert(0,'../src/')

from predict.predict import Predict

# Predictions

In [2]:
df_test = pd.read_csv(r'C:\repos\portfolio_projetos\unifinance_credit_prediction\projeto\data\raw\test.csv')

In [3]:
pred = Predict(df_test)

In [4]:
results = pred.run()

2024-01-20 17:20:23 [info     ] Initiating predictions...
2024-01-20 17:20:27 [info     ] Predictions are done
2024-01-20 17:20:27 [info     ] Saving probabilities...
2024-01-20 17:20:27 [info     ] Results saved in database

In [5]:
results

        probability_default
0                  0.541041
1                  0.544463
2                  0.248872
3                  0.644981
4                  0.735692
...                     ...
101498             0.573006
101499             0.861517
101500             0.150106
101501             0.439017
101502             0.485289

[101503 rows x 1 columns]